<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="2">
  <test name="XMLTest">
  <parameter name="greetings" value="Hello Human"/>
    <classes>
      <class name="com.qa.akash.TestNG_XML.AppTest"/>
    </classes>
  </test> <!-- XMLTest -->
</suite> <!-- Suite -->
